<div id="<%= dom_id drawing %>">
  <p>
    <strong>Name:</strong>
    <%= drawing.name %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= drawing.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= drawing.height %>
  </p>

  <p>
    <strong>Objects:</strong>
    <%= drawing.objects %>
  </p>

</div>
